<form class='updatePatient' data-id="{{_id}}">
  <input required placeholder="Enter Name" type="text" name="patients[name]">
  <input required placeholder="Enter DOB" type="date" name="patients[dob]">
  <input required placeholder="Enter State" type="text" name="patients[state]">
  <button class="updatePatientButton btn btn-warning" type="submit">Update Patient</button>
</form>
